@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url("./img/hintergrund.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-size: 20px;
  color: rgb(56, 247, 221);

  #container {
    width: 100%;

    header {
      background-color: rgb(7, 2, 44);
      top: 0;
      position: fixed;
      height: 200px;
      width: 100%;

      h1 {
        font-size: 80px;
        text-align: center;
        font-family: "Dancing Script", cursive;
      }

      button {
        cursor: pointer;
        width: 60px;
        height: 60px;
        margin: 5px;
        border-radius: 50%;
        border: none;
        img {
          width: auto;
          height: 100%;
        }
      }
    }

    main {
      padding-top: 150px;
      width: 100%;

      h1 {
        font-family: "Dancing Script", cursive;
      }
    }

    footer {
      h1 {
        font-family: "Dancing Script", cursive;
      }
      img {
        height: auto;
        width: 10%;
      }
    }
  }
}
